
#slide-logo{
	float: left;
	background-color: #ececec;
    border-bottom: 1px solid #bdbdbd;
    /*border-right: 1px solid #bdbdbd;*/
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    margin-bottom: 5px;
    padding-bottom: 18px;
    padding-top: 12px;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}

.sidenav div {
    padding: 8px 0px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.0s;
     border-bottom: 1px solid #bdbdbd;
    padding: 10px;
    /*border-bottom-right-radius:  25px;*/
    /*border-top-right-radius:  25px;*/
    /*border-top-left-radius:  25px;*/
       /*border-bottom-left-radius:  25px;*/
    
}

.sidenav div:hover {
    color: red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background: #ddd;
    border: 0.1px solid #ddd;
}

.slide-pages{
    text-transform: uppercase;
}
