/* The navigation bar */
nav.navbar {
    background-color: #ececec;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-top: 0px;
    color: black;
}

/* Animate menu button */
.navbar .button-nav{
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.paginas{
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

/* Links inside the navbar */
.navbar .paginas {
    float: right;
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
    font-size: 17.2px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


.top-logo{
    float: left;
    width: 13%;
    display: inline-flex;
    padding: 0px 0px 0px 05px;
    margin: 0px 0px 0px 100px;
}

.wrapper-button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  position: absolute;
 
}
nav.wrapper-button{
    display: inline-flex !important;
}

.wrapper-button.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: red;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}